# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\STUDIA\APLIKACJE INFORMATYCZNE W BIZNESIE\Semestr 2\PROGRAMOWANIE OBIEKTOWE\IdeaProjects\Lab04Z02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
